<div class="container">
  <h1>Liste des Produits</h1>
  <div class="filter-container">
    <label for="category">Filtrer par :  </label>
    <select id="category" [(ngModel)]="categoryChoisie" (change)="filterProduitByCategory(categoryChoisie)">
      <option *ngFor="let category of allCategories" [value]="category">{{category}}</option>
    </select>
  </div>


  <div class="product-grid">
    <div *ngFor="let produit of filtreProduit" class="product-card">
      <h3>{{produit.productName}}</h3>
      <p>Categorie: {{produit.category}}</p>
      <p>Prix: {{calculDuPrixTotalAvecLesTaxes(produit) }}€</p>
      <p *ngIf="produit.quantity > 0">Quantité: {{produit.quantity}}</p>
      <p *ngIf="produit.quantity === 0">{{NOT_AVAILABLE_MESSAGE}}</p>
      <div *ngIf="produit.quantity > 0">
        <input type="number" [(ngModel)]="produit.selectedQuantity" min="1" [max]="produit.quantity">
        <button (click)="addProduitAuPanier(produit, produit.selectedQuantity || 1)"
          [disabled]="produit.quantity === 0">
          <img src="assets/icons/cart.svg" alt="Add to Cart" class="icon"> Ajouter au panier
        </button>
      </div>
    </div>
  </div>
</div>