<div class="container">
  <h2>Panier d'articles</h2>
  <div *ngIf="articlesDansLePanier.length === 0">
    <p>Panier vide</p>
  </div>
  <div *ngIf="articlesDansLePanier.length > 0">
    <table>
      <thead>
        <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix Unitaire (Hors Taxes)</th>
          <th>Prix Unitaire (Avec Taxes)</th>
          <th>Taxes</th>
          <th>Prix Total (Avec Taxes)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articlesDansLePanier">
          <td>{{article.productName}}</td>
          <td>{{article.quantity}}</td>
          <td>{{article.price}}€</td>
          <td>{{calcultDuPrixTtcDeChaqueArticle(article) }} €</td>
          <td>{{calculDeLaTaxeDuProduit(article) }} €</td>
          <td>{{calcultDuPrixTtcDeChaqueArticle(article) * article.quantity}}€</td>
          <td>
            <input type="number" [(ngModel)]="article.selectedQuantity" min="1" [max]="article.quantity">
            <button (click)="deleteProduitDuPanier(article.id, article.selectedQuantity || 1)">
              <img src="assets/icons/remove.svg" alt="Remove" class="icon"> Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Taxes Total : {{calcuDuMontantTotalDeLataxe()}} €</p>
    <p>Prix Total (Avec Taxes): {{calculDuPrixTotalAvecLesTaxes()}} €</p>
  </div>

  <button (click)="goBackToProduits()"><img src="assets/icons/back.svg" alt="Back" class="icon"> Retourner aux produits</button>

</div>